<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.examencrud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EliminarAuto"></activity>
        <activity android:name=".EliminarMarca" />
        <activity android:name=".ModificarAutos" />
        <activity android:name=".ModifcarMarca" />
        <activity android:name=".ListaAutos" />
        <activity android:name=".IngresarAuto" />
        <activity android:name=".ListaMarcas" />
        <activity android:name=".IngresarMarca" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>